body {
  background-color: #cdfffc;
  margin:0;
  text-align: center;
  padding-top: 100px;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  padding-top: 100px;
  font-family: 'Great Vibes', cursive;
  font-weight: normal;

}

h2 {
  color: #66BFBF;
  font-family: 'Teko', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Teko', sans-serif;
  font-size: 2.5rem;
}

.top-cloud {
  position: relative;
  left:300px;
  bottom: 60px;
}

.bottom-cloud {
  position: absolute;
  left:500px;
  bottom: 600px;
}
.Skills{
  margin: auto;
}
.skill-row{
  position: relative;
}

.computer{
  position: relative;
  max-width: 100%; 
  height: auto;
}
